<div class = "container" style="border:1px solid #cecece; border-radius:5px; margin-top:30px; width:500px; padding:30px; box-shadow: 1px 3px 4px 1px rgba(230,222,222,0.75);">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @onlinesurvey.name %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= @onlinesurvey.laptop %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @onlinesurvey.manufacturer %>
</p>

<%= link_to 'Edit', edit_onlinesurvey_path(@onlinesurvey) %> |
<%= link_to 'Back', onlinesurveys_path %>
</div>